In [1]:
for item in ['Mosh','John','Sarah']:
    print(item)

Mosh
John
Sarah

In [3]:
item=['Mosh','aryan','avi']
for i in item:
    print(i)

Mosh
aryan
avi

In [4]:
for item in range(10):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [5]:
for item in range(1,11):
    print(item)

1
2
3
4
5
6
7
8
9
10

In [6]:
for item in range(1,11,2):
    print(item)

1
3
5
7
9

In [7]:
 prices=[10,20,30]
    
total=0
for price in prices:
    total+=price
print(f"Total : {total}")

Total : 60

In [9]:
for x in range(4):
    for y in range(3):
        print(f'({x},{y})')

(0,0)
(0,1)
(0,2)
(1,0)
(1,1)
(1,2)
(2,0)
(2,1)
(2,2)
(3,0)
(3,1)
(3,2)

In [10]:
numbers=[5,2,5,2,2]
for x_count in numbers:
    output=''
    for count in range(x_count):
        output+='x'
    print(output)

xxxxx
xx
xxxxx
xx
xx

In [12]:
names=['John','Bob','Mosh','sarah','Mary']

print(names[-1])

Mary

In [13]:
names=['John','Bob','Mosh','sarah','Mary']

print(names[1:])

['Bob', 'Mosh', 'sarah', 'Mary']

In [14]:
names=['John','Bob','Mosh','sarah','Mary']

print(names[1:3])

['Bob', 'Mosh']

In [15]:
names=['John','Bob','Mosh','sarah','Mary']

print(names)

['John', 'Bob', 'Mosh', 'sarah', 'Mary']

In [18]:
num=[10,3,6,2,8,4]
max=num[0]
for i in num:
    if i>max:
        max=num
print(max)

10

In [20]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]

for row in matrix:
    for item in row:
        print(item)

1
2
3
4
5
6
7
8
9

In [21]:
numbers=[5,2,1,7,4]
numbers.append(20)
print(numbers)

[5, 2, 1, 7, 4, 20]

In [22]:
numbers=[5,2,1,7,4]
numbers.insert(0,20)
print(numbers)

[20, 5, 2, 1, 7, 4]

In [23]:
numbers=[5,2,1,7,4]
numbers.remove(5)
print(numbers)

[2, 1, 7, 4]

In [24]:
numbers=[5,2,1,7,4]
numbers.clear()
print(numbers)

[]

In [25]:
numbers=[5,2,1,7,4]
numbers.pop()
print(numbers)

[5, 2, 1, 7]

In [26]:
 numbers=[5,2,1,7,4]
numbers.clear()
print(numbers)

[]

In [27]:
 numbers=[5,2,1,5,7,4]
print(numbers.count(5))

2

In [28]:
numbers=[5,2,1,5,7,4]
numbers.sort()
print(numbers)

[1, 2, 4, 5, 5, 7]

In [29]:
numbers=[5,2,1,5,7,4]
numbers.sort()
numbers.reverse()
print(numbers)

[7, 5, 5, 4, 2, 1]

In [30]:
numbers=[5,2,1,5,7,4]
numbers2=numbers.copy()
print(numbers2)

[5, 2, 1, 5, 7, 4]

In [31]:
numbers=[2,2,4,6,3,4,6,1]

uniques=[]

for number in numbers:
    if number not in uniques:
        uniques.append(number)
print(uniques)

[2, 4, 6, 3, 1]

In [33]:
# tuple

numbers=(1,2,3)

numbers[0]=10   

# it will give error as tuple are immutable

print(numbers[0])

TypeError: 'tuple' object does not support item assignment

In [35]:
# dictionaries

coustmer={"name":"John Smith","age":30,"is_verified":True}

print(coustmer["name"])

# key should be unique

John Smith

In [36]:
# dictionaries

coustmer={"name":"John Smith","age":30,"is_verified":True}

coustmer["name"]="Aryan basu"
print(coustmer["name"])

Aryan basu

In [37]:
coustmer={"name":"John Smith","age":30,"is_verified":True}

coustmer["name"]="Aryan basu"
# if key is not present print defaulr value that is jan 1 1992
print(coustmer.get("birthdate","jan 1 1992"))

jan 1 1992

In [39]:
phone=input("Phone: ")

digits_mapping={
    "1":"One",
    "2":"Two",
    "3":"Three",
    "4":"Four"
}
output="" 
for ch in phone:
    output+=digits_mapping.get(ch,"!") + " "  # here word after comma is to use default value
print(output)

Phone: 1234
One Two Three Four

In [41]:
massg=input(">")
words=massg.split(' ')
emojis={
    ":)":"ðŸ˜„",
    ":(":"ðŸ˜Œ"
}
output=""
for word in words:
    output+=emojis.get(word,word)+" "   # here word after comma is to use default value
print(output)

>hello :)
hello ðŸ˜„

In [42]:
def greet_user():
    print('Hi there!')
    print('Welcome abroad')
print("start")
greet_user()
print("finish")

start
Hi there!
Welcome abroad
finish

In [43]:
def greet_user(name):
    print(f'Hi {name}!')
    print('Welcome abroad')
print("start")
greet_user("John")
print("finish")

start
Hi John!
Welcome abroad
finish

In [45]:
def greet_user(first_name,last_name):
    print(f'Hi {first_name} {last_name}!')
    print('Welcome abroad')
print("start")
greet_user(last_name="smith",first_name="John")  # it is a keyword argument here order does not matter 
print("finish")

start
Hi John smith!
Welcome abroad
finish

In [46]:
def square(number):
    print(number*number)
print(square(3))

9
None